#addCreditTableBt {
	-fx-background-image: url("../img/add_bt.png");
	-fx-background-size: 24 24;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#addDebitTableBt {
	-fx-background-image: url("../img/add_bt.png");
	-fx-background-size: 24 24;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#addCreditGraphBt {
	-fx-background-image: url("../img/add_bt.png");
	-fx-background-size: 24 24;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#addDebitGraphBt {
	-fx-background-image: url("../img/add_bt.png");
	-fx-background-size: 24 24;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}